<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com-luoteng-edu"
        version="0.7.1">

  <name>edu</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/edu.js" target="js/edu.js"/>

  <js-module src="www/edu.js" name="edu">
    <clobbers target="edu" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
  	  <feature name="Edu">
        <param name="android-package" value="com.luoteng.zhidianedu.cordova.plugins.ZhidianEduPlugin" />
      </feature>
    </config-file>
	  <source-file src="src/android/com/luoteng/zhidianedu/cordova/plugins/ZhidianEduPlugin.java" target-dir="src/android/com/luoteng/zhidianedu/cordova/plugins"/>
  </platform>

    <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Edu">
        <param name="ios-package" value="EduPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/EduPlugin.h" />
    <source-file src="src/ios/EduPlugin.m" />
  </platform>

</plugin>